{% extends "base.html" %}

{% block titulo %}

Eliminación de reserva

{% endblock titulo %}

{% block contenido %}

<div>
    <h2 class="mt-4" align="center">ELIMINAR RESERVA</h2>

    <form method="post" action="{% url 'app_reservas:eliminar_reserva' object.pk %}" align="center">
        {% csrf_token %}

        <p>¿Estás seguro de que quieres eliminar la reserva?</p>

        {{ form }}

        <input type="submit" class="btn btn-danger" value="Eliminar">
    </form>

    <div align="center" style="margin-top: 40px">
        <a href="{% url 'app_reservas:listado_reservas' %}">
            <button type="button" class="btn btn-secondary">Volver al listado</button>
        </a>
    </div>
</div>
{% endblock contenido %}