{% extends "base.html" %}

{% block titulo %} REGISTRAR RESERVA{% endblock titulo %}

{% block contenido %}

<div>
    <h2 class="mt-4" align="center"> RESERVA DE SERVICIO </h2>

    <style>
        .my-form {
            max-width: 500px;
            margin: auto;
            margin-top: 20px;
            padding: 20px;
            border: 1px solid #ddd;
            border-radius: 10px;
        }

        .my-form.input {
            border: 2px solid #428bca;
            border-radius: 5px;
            margin-bottom: 10px;
        }
    </style>

    <form action="" method="POST" enctype='multipart/form' class="my-form" align="center">
        {% csrf_token %}
        <div class="mb-3">
            {{ form.as_p }}
        </div>

        <button type="submit" class="btn btn-success" style="margin-top: 20px;">Nueva Reserva</button>
    </form>

    <div align="center" style="margin-top: 40px">
        <a href="{% url 'app_reservas:listado_reservas' %}">
            <button type="button" class="btn btn-secondary">Volver al listado</button>
        </a>
    </div>
</div>
{% endblock %}