{% extends "base.html" %}


{% block titulo %}

Listado de Empleados

{% endblock titulo %}


{% block contenido %}

<h1>Empleados</h1>

<table border="1">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>numero_legajo</th>
        </tr>
    </thead>
    <tbody>
        {% for empleado in empleados %}
        <tr>
            <td>{{ empleado.id }}</td>
            <td>{{ empleado.nombre }}</td>
            <td>{{ empleado.apellido }}</td>
            <td>{{ empleado.numero_legajo }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock contenido %}