{% extends "base.html" %}

{% block titulo %}

Actualización Coordinador

{% endblock titulo %}

{% block contenido %}

<h2 align="center"> REGISTRAR COORDINADOR</h2>


<style>
    .my-form {
        max-width: 500px; /* Define el ancho máximo del formulario */
        margin: auto; /* Centra horizontalmente */
        margin-top: 20px; /* Agrega un margen en la parte superior */
        padding: 20px; /* Agrega un relleno interno */
        border: 1px solid #ddd; /* Estilo del borde */
        border-radius: 10px; /* Radio de borde para esquinas redondeadas */
    }

    /* Estilos personalizados para los inputs */
    .my-form.input {
        border: 2px solid #428bca; /* Estilo del borde de los inputs */
        border-radius: 5px; /* Radio de borde para esquinas redondeadas */
        margin-bottom: 10px; /* Agrega espacio entre los inputs */
    }


</style>

<form  action="" , method="POST" , enctype='multipart/form' class="my-form">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-success">Actualizar Coordinador</button>
</form>
<div >
    <a href="{% url 'app_coordinadores:listado_coordinadores' %}" ><button type="button" class="btn btn-secondary">Volver al listado</button> </a> 
</div>

{% endblock %}

