{% extends 'base.html'%}

{% block titulo %} LISTA COORDINADORES {% endblock titulo%}

{% block contenido%}

<div class="container mt-4"> <!-- Agrega un margen superior al contenedor principal -->


  <h2 align="center" class="mb-4">LISTADO DE COORDINADORES</h2>

  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Activo</th>
        <th scope='col'> </th>
        <th scope='col'> </th>
        <th scope='col'> </th>
      </tr>
    </thead>
    <tbody>

      {% for coordinador in coordinadores %}
      <tr>
        <th scope="row"> {{coordinador.id}}
          <!--
          <a href="{{ coordinador.get_absolute_url}}"> 
          {{ coordinador.pk}}
          </a>>
        -->
        </th>
        <td>{{ coordinador.nombre}}</td>
        <td>{{ coordinador.apellido}}</td>
        <td>{{ coordinador.activo}}</td>
        <td> <a href="{% url 'coordinadores:actualizar_coordinador' coordinador.pk %}"> <button type="button"
              class="btn btn-outline-warning">Modificar</button> </a> </td>
        <td>
          {% if coordinador.activo %}
          <a href="{% url 'coordinadores:desactivar_coordinador' coordinador.pk %}"><button type="button"
              class="btn btn-outline-danger"> Desactivar</button> </a>
        </td>
        {% else %}
        <span> <button type="button" class="btn btn-light">Desactivar</button></span>
        {% endif %}
        <td>
          {% if not coordinador.activo%}
          <a href="{% url 'coordinadores:activar_coordinador' coordinador.pk %}"><button type="button"
              class="btn btn-outline-success">Activar</button></a>
        </td>
        {% else %}
        <span> <button type="button" class="btn btn-light">Activar</button></span>
        {% endif %}
      </tr>
      {% endfor%}

    </tbody>
  </table>

  <a href="{% url 'coordinadores:crear_coordinador' %}"> <button type="button" class="btn btn-primary">Nuevo
      coordinador</button></a>
  {%endblock contenido%}