{% extends "base.html" %}

{% block titulo %} REGISTRAR COORDINADOR{% endblock titulo %}

{% block contenido %}

<h2> REGISTRAR COORDINADORr</h2>

<form  action="" , method="POST" , enctype='multipart/form'>
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Registrar Coordinador</button>
</form>
<div class="alert alert-primary" role="alert">
    <a href="{% url 'coordinadores:listado_coordinadores' %}" class="alert-link"> Click acá </a> para volver al listado.
</div>

{% endblock %}