{% extends "base.html" %}

{% block titulo %} FORMULARIO SERVICIO{% endblock titulo %}

{% block contenido %}

<div>
    <h2 class="mt-4" align="center">FORMULARIO DE SERVICIO</h2>

    <style>
        .my-form {
            max-width: 500px;
            margin: auto;
            margin-top: 20px;
            padding: 20px;
            border: 1px solid #ddd;
            border-radius: 10px;
        }

        .my-form.input {
            border: 2px solid #428bca;
            border-radius: 5px;
            margin-bottom: 10px;
        }
    </style>

    <form action="" method="POST" enctype='multipart/form' class="my-form">
        {% csrf_token %}
        <div class="mb-3">
            <table>
                {{ form.as_table }}
            </table>
        </div>

        <button type="submit" class="btn btn-success" style="margin-top: 20px;">{{mensaje_boton}}</button>
    </form>

    <div align="center" style="margin-top: 40px">
        <a href="{% url 'app_servicios:listado_servicios' %}">
            <button type="button" class="btn btn-secondary">Volver al listado</button>
        </a>
    </div>
</div>
{% endblock contenido%}