{% extends 'base.html'%}

{% block titulo %} LISTA DE SERVICIOS {% endblock titulo%}

{% block contenido%}

<div class="container mt-4"> <!-- Agrega un margen superior al contenedor principal -->


<h2 align="center" class="mb-4">LISTADO DE SERVICIOS</h2>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nombre</th>
      <th scope="col">Descripcion</th>
      <th scope="col">Precio</th>
      <th scope="col">Activo</th>
      <th scope='col'>  </th>
      <th scope='col'>  </th>
      <th scope='col'> </th>
    </tr>
  </thead>
  <tbody>

    {% for servicio in servicios %} 
    <tr>
        <th scope="row"> {{servicio.id}}
      <!--
        <a href="{{ cliente.get_absolute_url}}"> 
        {{ cliente.pk}}
        </a>>
      --> 
        </th>
      <td>{{ servicio.nombre }}</td>
      <td>{{ servicio.descripcion }}</td>
      <td>{{ servicio.precio }}</td>
      <td>{{ servicio.activo }}</td>
      <td> <a href="{% url 'app_servicios:actualizar_servicio' servicio.pk %}"> <button type="button" class="btn btn-outline-warning">Modificar</button> </a> </td>
      <td> 
        {% if empleado.activo %}
            <a href="{% url 'app_servicios:estado_activo_servicio' servicio.pk %}"><button type="button" class="btn btn-outline-danger"> Desactivar</button> </a> </td>
        {% else %}
            <span> <button type="button" class="btn btn-light">Desactivar</button></span> 
        {% endif %}
      <td> 
        {% if not servicio.activo%}
            <a href="{% url 'app_servicios:estado_activo_servicio' servicio.pk %}"><button type="button" class="btn btn-outline-success">Activar</button></a> </td>
        {% else %}
            <span> <button type="button" class="btn btn-light">Activar</button></span>
        {% endif %}
    </tr> 
    {% endfor%}

  </tbody>
</table>

{%endblock contenido%}

