{% extends "base.html" %}


{% block titulo %}

Listado de Clientes

{% endblock titulo %}


{% block contenido %}

<h1>Hola clientes</h1>

<table border="1">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellido</th>
        </tr>
    </thead>
    <tbody>
        {% for cliente in clientes %}
        <tr>
            <td>{{ cliente.id }}</td>
            <td>{{ cliente.nombre }}</td>
            <td>{{ cliente.apellido }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock contenido %}